:root {
  --beto1: #c6cca5;
  --beto2: #4366a6;
  --beto3: #8ab8a8;
  --beto4: #008db7;
  --beto5: #6b9997;
  --beto6: #54787d;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--beto2);
}

#border-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  height: 300px;
  width: 200px;
}

#login {
  font-size: 24px;
  color: var(--beto2);
  margin-bottom: 20px;
}

#form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-cadastro {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
}

#botao-entrar {
  padding: 10px 20px;
  background-color: var(--beto4);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: var(--beto6);
}
.seta-voltar {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: var(--beto2);
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  border-radius: 5px;
}

.seta-voltar::before {
  content: "\2190";
  margin-right: 5px;
}
