:root {
  --beto1: #c6cca5;
  --beto2: #4366a6;
  --beto3: #8ab8a8;
  --beto4: #ffffff;
  --beto5: #6b9997;
  --beto6: #54787d;
  --beto7: #008db7;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--beto2);
  background-repeat: no-repeat;
  background-size: cover;
}

#titulo {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.button {
  display: inline-block;
  padding: 16px 32px;
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  background-color: var(--beto4);
  border-radius: 10px;
  border: 0.3px solid black;
  transition: background-color 0.3s ease;
}

#borda {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid var(--beto5);
  border-radius: 10px;
  background-color: var(--beto4);
}
.button:hover {
  background-color: var(--beto7);
  color: white;
  cursor: pointer;
}
